--find-links https://download.pytorch.org/whl/torch_stable.html
box2d-py
etaprogress
gym[atari, accept-rom-license]==0.21.0
-e git+https://github.com/michalnand/gym-aeris.git@ec5e8c61242683b36c66c2cfc5dfc599a08f8905#egg=gym_aeris&subdirectory=gym-aeris
imageio~=2.16.1
matplotlib~=3.5.1
nes-py
numpy~=1.21.5
opencv-python~=4.5.5.64
psutil~=5.9.0
pybullet~=3.2.2
-e git+https://github.com/benelot/pybullet-gym.git@79396fccc1d0e170a092b50137148da48ee2edab#egg=pybulletgym
pyclustering
ray
scikit-learn
torch==1.9.0+cu111
torchvision==0.10.0
tqdm
umap-learn
seaborn~=0.11.2
setuptools~=61.2.0
pillow~=9.1.0
scipy~=1.8.0
procgen~=0.10.7