atari-py==0.2.9
box2d-py
etaprogress==1.1.1
gym
-e git+https://github.com/michalnand/gym-aeris.git@ec5e8c61242683b36c66c2cfc5dfc599a08f8905#egg=gym_aeris&subdirectory=gym-aeris
gym-retro==0.8.0
imageio
matplotlib
nes-py==8.1.6
numpy
opencv-python==4.5.2.54
psutil==5.8.0
pybullet==2.8.4
-e git+https://github.com/benelot/pybullet-gym.git@79396fccc1d0e170a092b50137148da48ee2edab#egg=pybulletgym
pyclustering
ray==1.4.0
scikit-learn
torch==1.9.0
umap-learn==0.5.1